// COLORS
$primary-color: #ECE9E6;
$secondary-color: #FFFFFF;

$white-color: #252525;

$dark-grey: #252525;

$dark-blue-text: #00adb5; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
